
.w3-theme-l1 {color:#000 !important; background-color:#5eff5e !important}

.w3-theme-light {color:#000 !important; background-color:#fef2f6 !important}
.w3-theme-dark {color:#fff !important; background-color:#790c30 !important}
.w3-theme-action {color:#fff !important; background-color:#790c30 !important}

.w3-theme {color:#000 !important; background-color:#e91e63 !important}
.w3-text-theme {color:#e91e63 !important}
.w3-border-theme {border-color:#000000 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#e91e63 !important}
.w3-hover-text-theme:hover {color:#5eff5e  !important}
.w3-hover-border-theme:hover {border-color:#000000 !important}